/*
 *	GENERAL
 ------------------------------------------------------ */
/* border-box */
html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    background: $color-body-Very-Dark-Blue;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    font: {
        size: $font-size-base;
        family: $font-family-Overpass;
    }
}

img {
    width: 100%;
    max-width: 100%;
    vertical-align: middle;
}

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border: 0;
}

.hidden {
    display: none;
}

h1,
h2 {
    color: $color-heading-White;
}

p {
    color: $color-p-Light-Grey;
    font-size: $font-size-p;
}