/*
* VARIABLES ------------------------------------------------------ */
// Typography
$font-size-base: 1em;
$font-size-p: 0.9375em;
$font-family-Overpass: 'Overpass', sans-serif;

// Colors
$color-Orange: hsl(25, 97%, 53%); 
$color-heading-White: hsl(0, 0%, 100%);
$color-p-Light-Grey: hsl(217, 12%, 63%);
$color-Medium-Grey: hsl(216, 12%, 54%);
$color-Dark-Blue: hsl(213, 19%, 18%);
$color-body-Very-Dark-Blue: hsl(216, 12%, 8%);